/* global */
.main {
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: #f9f9f9;
}

h1 {
  font-weight: bolder;
  font-size: 3.5em;
  margin: 0.8em 0 0 0;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
  margin: 5px 0 5px 0;
}

td {
  font-weight: 300;
  font-size: 1.6em;
}

.info-container {
  border-radius: 10px;
  padding: 0.7em 1em 0.7em 1em;
}

/* second row */
#stats-model {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(42em + 3vw);
  padding: 4vh 0 4vh 0;
}

table {
  background-color: white;
  text-align: left;
}

#temp-date {
  margin: 0;
  font-weight: 300;
  font-size: 90%;
  top: -10px;
  position: relative;
}

.stat {
  padding-right: 2em;
}

model-viewer {
  height: 727px;
  width: 700px;
  position: absolute;
  overflow: hidden;
  left: -14em;
  top: -11em;
  z-index: 0;
  --progress-bar-color: transparent;
  background-color: transparent;
  transition: all 1s ease-in;
}

#temp-block {
  height: 150px;
  width: 18em;
  position: relative;
}

/* third row */
#graph-container {
  background-color: white;
  z-index: 1;
}

#temp-graph {
  width: 40em;
  height: 15em;
  background-color: rgb(194, 194, 194);
}

/* other */
.icon {
  width: 21px;
  position: relative;
  left: 5px;
}

a {
  color: rgb(134, 134, 134);
}

a:hover {
  color: black;
}

#footer {
  text-decoration: underline;
  color: black;
  position: fixed;
  bottom: 15px;
  z-index: 2;
}
