body {
  background-color: #F9F9F9;
}

h1 {
  font-weight: bolder;
  font-size: 3.5em;
}

h2 {
  font-weight: 500;
  font-size: 2em;
  margin: 5px 0 5px 0;
}

td {
  font-weight: 400;
  font-size: 1.6em;
}

.main {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
}

#temp-block {
  height: 150px;
  width: 150px;
  background-color: black;
}

.icon {
  width: 40px;
  position: relative;
  left: 150px;
  top: -65px;
}